html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-weight: 300; }

ol, ul { list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
  -ms-interpolation-mode: bicubic; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

input, select, textarea, button {
  outline: none;
  border: 0; }

svg {
  overflow: visible; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.fadeOver {
  opacity: 1 !important;
  z-index: 2; }

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.responsive-image, .editorImg {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }


.expandFilters {
  -webkit-animation: expandFilters 1s forwards;
  -moz-animation: expandFilters 1s forwards;
  animation: expandFilters 1s forwards; }

@-webkit-keyframes expandFilters {
  from {
    -webkit-transform: rotate(0deg) scale(0.4); }

  to {
    -webkit-transform: rotate(360deg) scale(1); } }

@-moz-keyframes expandFilters {
  from {
    -moz-transform: rotate(0deg) scale(0.4); }

  to {
    -moz-transform: rotate(360deg) scale(1); } }

@keyframes expandFilters {
  from {
    -webkit-transform: rotate(0deg) scale(0.4);
    -moz-transform: rotate(0deg) scale(0.4);
    -ms-transform: rotate(0deg) scale(0.4);
    -o-transform: rotate(0deg) scale(0.4);
    transform: rotate(0deg) scale(0.4); }

  to {
    -webkit-transform: rotate(360deg) scale(1);
    -moz-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation: fadeIn 0.6s forwards;
  -moz-animation: fadeIn 0.6s forwards;
  animation: fadeIn 0.6s forwards; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation: fadeOut 0.6s forwards;
  -moz-animation: fadeOut 0.6s forwards;
  animation: fadeOut 0.6s forwards; }

.nav-extend {
  max-height: 15.384615em !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
/* font-size: 19.5px; */
  font-size: 1.55em;
  line-height: auto;
  line-height: 1.230769;
  color: #333;
  background-color: #e6e8e8; }

a {
  color: #3391ac;
  text-decoration: none; }

a:hover {
  color: #226071;
  text-decoration: underline; }

.page-wrapper {
  max-width: 71.794872em;
  margin: 0 auto; }

.content-wrapper {
  max-width: 61.025641em;
  margin: 0 auto;
  padding: 0 1.538462em; }
  @media (max-width: 37.5em) {
    .content-wrapper {
      padding: 0 0.21em; } }

.Sio-wrapper {
  text-align: center;
  vertical-align: middle;
  max-width: 61.025641em;
  margin: 0 auto;
  padding: 0 1.538462em; }
  @media (max-width: 37.5em) {
    .Sio-wrapper {
      padding: 0 0.769231em; } }


.report-wrapper {
  margin: 0 auto;
  padding: 0 1.0em; }


p {
  margin-bottom: 0.307692em; }

.rtebr {
  height: 0.307692em;
  display: block; }
  .rteCopy .rtebr {
    height: 1.230769em; }

.editorFullBreak {
  clear: both; }

.editorLargeText {
  font-size: 1.384615em;
  line-height: 1.259259; }

small {
  font-size: 85%; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

.editorUnderline {
  text-decoration: underline; }

hr {
  margin: 24 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Arial, sans-serif;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999; }

h1, .alpha {
  font-size: 4.769231em;
  line-height: 0.9;
  font-weight: 300;
  padding-bottom: 0.258065em;
  -webkit-font-smoothing: antialiased; }

h2, .beta {
  font-family: 'Merriweather', Tahoma, sans-serif;
  font-size: 3.076923em;
  line-height: 1.2;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.316667em;
  margin-bottom: 0.5em;
  letter-spacing: -0.016667em;
  text-transform: none;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.833333em; }
  h2:first-child, .beta:first-child {
    margin-top: 0; }
  .macroCopy h2, .macroCopy .beta {
    margin-bottom: 0.416667em; }

h3, .gamma {
  font-size: 1.641026em;
  line-height: 1.025641em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

h4, .delta {
  line-height: 1.2;
  text-transform: none;
  margin-top: 0.923077em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }
  h4:first-child, .delta:first-child {
    margin-top: 0; }

h1 small {
  font-size: 34.125px;
  font-size: 3.4125rem; }

h2 small {
  font-size: 24.375px;
  font-size: 2.4375rem; }

h3 small {
  font-size: 19.5px;
  font-size: 1.95rem; }

h4 small {
  font-size: 19.5px;
  font-size: 1.95rem; }

.rteCopy ul, .rteCopy ol, .editorList, .editorRom, .editorBullets {
  margin: 0 0 0.615385em 1.282051em;
  list-style-type: disc; }

.rteCopy ul, .rteCopy ol {
  margin-bottom: 1.230769em; }

.editorRom {
  list-style-type: lower-roman; }

.editorList, ol {
  list-style-type: decimal; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.centerJustify {
  width: 100%;
  text-align: center; }

.leftJustify {
  width: 100%;
  text-align: left; }

.rightJustify {
  width: 100%;
  text-align: right; }

.justified {
  width: 100%;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.editorBlockQuote {
  padding: 0 0 0 0.769231em;
  margin: 0 0 1.230769em;
  border-left: 5px solid #eee; }
  .editorBlockQuote p {
    margin-bottom: 0; }
  .editorBlockQuote small {
    display: block;
    color: #999; }
    .editorBlockQuote small:before {
      content: '\2014 \00A0'; }

.editorColumns {
  width: 100%;
  zoom: 1; }
  .editorColumns:before, .editorColumns:after {
    content: "";
    display: table; }
  .editorColumns:after {
    clear: both; }

.editorColumnsInner {
  float: left; }

.editorColumnsPadding {
  padding: 0.25641em; }

.editorImgFloat-left, .editorLeftImage {
  float: left;
  width: auto;
  margin: 0 1.230769em 1.230769em 0; }

.editorImgFloat-right, .editorRightImage {
  float: right;
  width: auto;
  margin: 0 0 1.230769em 1.230769em; }

.editorImgFloat-center {
  margin: 1.230769em auto 1.230769em;
  text-align: center;
  display: block; }

.imageBox {
  width: 100%;
  text-align: center;
  display: block;
  clear: both;
  margin: 1.230769em 0; }
  .imageBox img {
    margin: 0 auto; }

.imageBoxCaption {
  text-align: left;
  display: block;
  margin: 0 auto; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: 1.230769em; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.uLinks__icon {
  width: 69px; }

@media print {

 .header__wrapper, footer {
  	display: none !important; }
 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  td {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  h3 {
  	font-size:1em !important;
  }
  .report {
    font-size: 0.68em !important;;
  }
}

.header__background {
  background-position: center;
  padding-bottom: 50%;
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative; }
  .carousel__item .header__background {
    padding-bottom: 0;
    height: 35.897436em; }
  @media (max-width: 87.5em) {
    .header__background {
      padding-bottom: 0;
      height: 35.897436em; } }
  @media (max-width: 37.5em) {
    .header__background {
      background-image: none !important;
      height: 0; }
      .carousel__item .header__background {
        height: 0; } }


.navigation, .home__navigation {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.7em;
  background-color: rgba(156, 174, 202, 0.8);
  width: 50em;
  padding-right: 0.7em;
  max-width: 90%;
  position: relative; }
  .ie9 .navigation, .ie9 .home__navigation {
    width: 90%; }
  @media (max-width: 50em) {
    .navigation {
  	  padding-right: 0;
      max-width: none;
      display: none;
      margin: 0 auto; } }
  .navigation__links, .home__navigation-links {
    display: table;
    width: 100%; }
    .navigation__links > li, .navigation__links > .home__navigation-links {
      display: table-cell;
     }
   @media (max-width: 50em) {
      .navigation__links > li {
          display: block;
          padding: 0; } }
   @media (max-width: 50em) {
      .navigation__links {
        max-height: 0px;
        overflow: hidden;
        display: block;
        -webkit-transition: max-height 0.5s ease-in;
        -moz-transition: max-height 0.5s ease-in;
        transition: max-height 0.5s ease-in; } }
  .navigation__link, .home__navigation-link {
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 1.00em;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 2.5em; }
    .navigation__link:hover, .home__navigation-link:hover {
      color: #007698;
      text-decoration: none; }
    @media (max-width: 67.1875em) {
		.navigation {
			padding:0;
		}
      .navigation__link {
        font-size: 1em; } }
    @media (max-width: 50em) {
		.navigation {
			padding:0;
		}

      .navigation__link {
        text-align: center;
        padding-left: 0;
        line-height: 1.65;
        font-size: 1.538462em;
        padding-bottom: 0.3em; } }

    .active {
  		border-radius: 0.7em;
    	font-weight:600;
    	background-color: rgba(246, 243, 237, 0.5);
    }

.header {
  position: absolute;
  top: 0;
  z-index: 50;
  right: 0;
  left: 0; }
  .header__wrapper {
    padding-left: 0.769231em;
    padding-right: 0.769231em;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 1.025641em; }

.article__header {
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.article-title, .clanding-title {
  position: absolute;
  top: 17.384615em;
  z-index: 100;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding-left: 3.076923em;
  padding-right: 3.076923em; }
  @media (max-width: 37.5em) {
    .article-title {
      top: 10.25641em;
      padding-left: 0.769231em;
      padding-right: 0.769231em; } }

.article__title {
  color: #fff;
  max-width: 10.967742em;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 61.25em) {
    .article__title {
      font-size: 70px;
      font-size: 7rem; } }
  @media (max-width: 37.5em) {
    .article__title {
      font-size: 50px;
      font-size: 5rem; } }
  @media (max-width: 33.75em) {
    .article__title {
      font-size: 45px;
      font-size: 4.5rem; } }

.article__subtitle {
  max-width: 26.666667em;
  margin-top: 0;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.538462; }
  @media (max-width: 33.75em) {
    .article__subtitle {
      font-size: 18px;
      font-size: 1.8rem; } }

.footer {
  padding: 1.538462em;
  background: #fff;
  display: block;
}
.footer > div > ul {
  display: table;
  width:100%;
  padding: 0 0.769231em;
}
.footer > div > ul > li {
  display: table-cell;
  text-align: right;
  width: 50%;
}
.footer > div > ul > li:first-child {
  text-align: left;
}

  @media (max-width: 61.25em) {
    .footer {
      padding: 0.769231em; } }
  .footer__wrap {
    padding: 0 0.769231em; }
  .footer__flex {
    display: block;
    overflow: hidden; }
  .footer__inner {
    background-color: #f5f9f8;
    max-width: 68.717949em;
    margin: 0 auto; }
    .ie9 .footer__inner {
      width: 68.717949em; }
    @media (max-width: 61.25em) {
      .footer__inner {
        font-size: 18px;
        font-size: 1.8rem; } }
    @media (max-width: 37.5em) {
      .footer__inner {
        font-size: 16px;
        font-size: 1.6rem; } }

  .footer__block-opener, .footer__opener--outer {
    left: 50%;
    top: 0;
    margin-top: 0;
    cursor: pointer;
    padding: 0.769231em;
    margin-left: -2.666667em;
    display: block;
    position: absolute;
    width: 3.794872em;
    left: 50%;
    top: 0;
    cursor: pointer;
    box-sizing: content-box;
    background-color: #c5ad85;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    @media (max-width: 61.25em) {
      .footer__block-opener {
        display: none; } }
    .footer__block-opener:hover .path, .footer__block-opener:hover .footer__opener--outer:hover {
      fill: #dcdcdc; }
  .footer__opener--outer {
    left: auto;
    right: 0;
    margin: 0;
    display: none;
    z-index: 10;
    background-color: #007698;
    width: 2em; }
    .inactive .footer__opener--outer {
      display: block; }
      @media (max-width: 61.25em) {
        .inactive .footer__opener--outer {
          display: none; } }
    .footer__opener--outer .footer__opener--path {
      width: 2em; }
    .footer__opener--outer:hover .path {
      fill: #dcdcdc; }
  .footer__map-close {
    position: absolute;
    right: 0.307692em;
    top: 0.205128em;
    color: #fff;
    padding-bottom: 0.102564em;
    padding-left: 0.564103em;
    padding-right: 0.564103em;
    border: 0.051282em solid #fff;
    border-radius: 100%;
    line-height: 1.6; }
    .footer__map-close:hover {
      color: #fff;
      text-decoration: none;
      cursor: pointer; }
    @media (max-width: 61.25em) {
      .footer__map-close {
        display: none; } }
  .footer__search {
    font-size: 2.25641em;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: #d1bd9d;
    width: 100%;
    border: 0;
    color: #fff;
    box-shadow: none;
    line-height: 1.340909;
    box-shadow: none;
    border-radius: 0;
    padding: 0.204545em 0.113636em 0.227273em;
    padding-left: 0.512821em;
    -webkit-font-smoothing: antialiased; }
    .footer__search:active {
      outline: 0;
      background-image: none; }
      .footer__search:active:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
    .footer__search::-webkit-input-placeholder {
      line-height: 1.363636em;
      color: #fff; }
    .footer__search::-moz-placeholder {
      line-height: 1.363636em;
      color: #fff; }
    .footer__search:-moz-placeholder {
      line-height: 1.363636em;
      color: #fff; }
    .footer__search:-ms-input-placeholder {
      line-height: 1.363636em;
      color: #fff; }
    @media (max-width: 25em) {
      .footer__search {
        font-size: 32px;
        font-size: 3.2rem;
        height: 2em; } }
  .footer__search-btn {
    border-radius: 0;
    background: none;
    box-shadow: none;
    background-color: #d1bd9d;
    border: 0;
    height: 4em;
    padding-right: 1.025641em;
    padding-left: 1.025641em;
    float: right; }
    .footer__search-btn:focus {
      outline: none; }
    .footer__search-btn .icon-magnifier {
      fill: #fff;
      pointer-events: none; }
  .footer__logo {
    display: block;
    margin: 2.051282em auto 0 auto; }
  .footer__copyright {
    padding-top: 1.916667em;
    margin: 0 auto;
    width: 74.285714%;
    text-align: center;
    color: #c5ad85;
    font-weight: 300;
    font-size: 1.230769em;
    line-height: 1.666667em;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 0.583333em;
    border-bottom: 0.083333em dotted #c5c7c6; }
  .footer__nav {
    width: 100%;
    display: none;
  	background-color: rgba(156, 174, 202, 0.8);
  	border-radius: 0.7em;
    text-align: center;
    margin: 0 auto; }
    .footer__nav > li > form {
		display: inline-block;
		font-size:1.0em;
	}
     .footer__nav > li > form > div {
		display: inline-block;
		font-size:1.0em;
	}
   .footer__nav > li {
      display: inline-block; }
      .footer__nav > li:first-child .footer__nav-item {
        padding-left: 0; }
      @media (max-width: 50em) {
      	.footer__nav { display: block; }
        .footer__nav > li { display: block; }
      }
  .footer__nav-item {
    display: block;
    color: #000;
    font-size: 1.0em;
    line-height: 1.2em;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    padding-left: 0.625em;
    padding-right: 0.625em; }
    @media (max-width: 50em) {
      .footer__nav-item {
        padding-left: 0; padding-right: 0;} }
    .footer__nav-item:hover {
      text-decoration: none;
      color: #007698; }
  .footer__company-info {
    text-align: center;
    padding-bottom: 2.564103em; }
  .footer__company-detail {
    display: block;
    padding-bottom: 0.512821em; }

.footer__cocktail .path {
  fill: #fff; }

.form .text input:focus, .form textarea:focus, .icheckbox.focus, .iradio.focus {
  outline: none;
  border-color: #c5ad85; }

.dataentry {
	margin-bottom: 1em;
	min-height: 7em;
}

.form {
  color: #000;
  line-height: 1.230769; }
  @media (max-width: 37.5em) {
    .form {
      font-size: 16px;
      font-size: 1.6rem;
      margin-left: -0.625em;
      margin-right: -0.625em; } }
  .form--cols, .form--select {
    margin-left: -0.717949em;
    margin-right: -0.717949em; }
    @media (max-width: 67.1875em) {
      .form--cols {
        margin-left: 0;
        margin-right: 0; } }
  .form--select {
    margin-bottom: 1.538462em; }
  .form__col {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 0.717949em;
    padding-right: 0.717949em;
    margin: 0 auto; }
    @media (max-width: 67.1875em) {
      .form__col {
        display: block;
        width: auto;
        max-width: 33.846154em;
        padding: 0; } }
  .form__half {
    display: inline-block;
    width: 50%; }
  .form__group {
    margin-bottom: 0.25641em;
    display: block; }
  .form .label {
    font-weight: 900;
    font-size: 0.923077em;
    background-color: #C1C2D1;
    padding: 0.889444em 0 0.944444em 0.835em;
    display: block;
    }

  .form .label p {
    padding: 0 0 0.944444em 0.835em;
    font-weight: 300;
    font-size: 0.8em;
    line-height: auto;
    color: #404040;
  }

  .form .label i {
    font-weight: 300;
    font-size: 0.8em;
    line-height: auto;
    color: #404040;
  }

  .form .caption {
    border-radius: 1.2em;
    background-color: #D1D2D1;
    display: block;
    padding: 0.4em 0.835em 1.0em 0.835em;
  }

  .form .caption .label {
    font-weight: 900;
    font-size: 0.923077em;
    white-space: pre-line;
    background-color: #D1D2D1;
    padding: 0 0 0.2em 0;
    display: block;
    }

  .form .caption .label i {
    font-weight: 300;
    font-size: 0.8em;
    line-height: auto;
    color: #404040;
  }


  .form .flex {
    overflow: hidden;
    display: block; }
  .form .text .label {
    width: 6.333333em;
    float: left; }
  .form .text input {
    height: 3.055556em;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #fff;
    width: 100%;
    border: none;
    display: block;
    padding: 0 0.512821em;
    font-size: 0.923077em;
    border: 1px solid transparent; }
    .form .text input::-webkit-input-placeholder {
      font-weight: 300;
      color: #b3b3b3; }
    .form .text input::-moz-placeholder {
      font-weight: 300;
      color: #b3b3b3; }
    .form .text input:-moz-placeholder {
      font-weight: 300;
      color: #b3b3b3; }
    .form .text input:-ms-input-placeholder {
      font-weight: 300;
      color: #b3b3b3; }
  .form input[type="checkbox"] {
    float: right;
    margin-top: 1.025641em;
    margin-right: 1.025641em; }
  .form select {
    float: right;
    height: 2.111111em;
    padding: 0.333333em 0.666667em;
    font-size: 0.923077em;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 0.222222em;
    margin-top: 0.444444em; }
   .form select[multiple] {
    float: right;
    height: 16.888888em;
    padding: 0.333333em 0.666667em;
    font-size: 0.923077em;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 0.222222em;
    margin-top: 0.444444em;
    }

 .form textarea {
    width: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    border: 1px solid transparent;
    font-size: 0.923077em;
    padding: 0.555556em 0.833333em; }
    .form textarea::-webkit-input-placeholder {
      font-weight: 300;
      color: #b3b3b3; }
    .form textarea::-moz-placeholder {
      font-weight: 300;
      color: #b3b3b3; }
    .form textarea:-moz-placeholder {
      font-weight: 300;
      color: #b3b3b3; }
    .form textarea:-ms-input-placeholder {
      font-weight: 300;
      color: #b3b3b3; }
  .form .submit {
    text-align: center; }

.chosen-container {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right; }
  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    display: none;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); }
    .chosen-container .chosen-drop a {
      cursor: pointer; }
  .chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
    display: block; }
  .chosen-container .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0.205128em 0.205128em 0;
    max-height: 17.435897em;
    -webkit-overflow-scrolling: touch; }
    .chosen-container .chosen-results li {
      display: none;
      margin: 0;
      padding: 0.277778em 0.333333em 0.277778em 0.888889em;
      line-height: 1.2;
      list-style: none;
      -webkit-touch-callout: none; }
      .chosen-container .chosen-results li.active-result {
        display: list-item;
        cursor: pointer; }
        .chosen-container .chosen-results li.active-result:hover {
          background-color: #f6f3ed; }

.chosen-container-single {
  font-size: 0.923077em;
  height: 3.055556em;
  background-color: #fff;
  line-height: 3em;
  position: relative;
  display: block;
  background-color: #fff;
  padding-right: 0.333333em; }
  .chosen-container-single:after {
    content: "";
    font-size: 19.5px;
    font-size: 1.95rem;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.615385em 0.333333em 0 0.333333em;
    border-color: #c5ad85 transparent transparent transparent;
    right: 0.871795em;
    top: 1.128205em;
    pointer-events: none; }
  .chosen-container-single .chosen-single {
    display: block;
    position: relative;
    white-space: nowrap;
    color: #333;
    text-decoration: none;
    padding-left: 0.888889em; }
    .chosen-container-single .chosen-single:hover {
      text-decoration: none;
      color: #333; }
    .chosen-container-single .chosen-single span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block; }
  .chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px; }
  .chosen-container-single.chosen-with-drop:after {
    border-width: 0 0.333333em 0.615385em 0.333333em;
    border-color: transparent transparent #c5ad85 transparent; }

.select__inline {
  margin-right: 0.277778em; }

.error {
  display: block;
  color: #F0D0D0;
  font-size: 1.2em;
  text-align: center;
  background-color: #E20101;
  border-radius: 3em 3em 0 0 ;
}

.error + .label , .error + * + .label {
	font-size: 0.923077em;
    background-color: rgba(226,1,1,0.4);
	padding: 0.889444em 0 0.944444em 0.835em;
	display: block;
    border-radius:0 ;
}

.error .form {
  width: 100%;
  padding: 0 2em 0 2em;
  text-align: center;
  display: inline-block;
}

.error h3 a {
  color: #F0D0D0;
  font-weight: 900;
}
.error h3 a:hover {
  color: #A0A0A0;
  text-decoration:none;
}

.errorbot {
  margin: 0 0 0 0;
  padding: 3em 0 0.944444em 0.835em;
  display: block;
  color: #F0D0D0;
  font-size: 1.2em;
  text-align: center;
  background-color: #E20101;
  border-radius: 0 0 3em 3em;
}

  .errors ol {
    padding: 0 0.717949em 1.128205em;
    margin-left: 1.487179em;

     }

.form__notice:after, .form__notice:before {
  font-size: 19.5px;
  font-size: 1.95rem;
  position: absolute;
  top: 0;
  content: '';
  width: 0.769231em;
  height: 100%;
  border-style: solid;
  border-width: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

.form__notice {
  font-size: 0.923077em;
  text-align: center;
  line-height: 1.333333;
  margin-top: 1.555556em;
  position: relative;
  padding: 0.722222em 0.555556em 1em;
  margin-bottom: 0.277778em; }
  .form__notice:after {
    right: 0;
    border-color: #c5ad85 #c5ad85 #c5ad85 transparent; }
  .form__notice:before {
    left: 0;
    border-color: #c5ad85 transparent #c5ad85 #c5ad85; }

.btn, .btn--nav, .btn--primary, .btn--secondary, .btn--tertiary, .btn--tertiary--tablet, .btn--tertiary--tablet, .btn--pancake {
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 0;
  text-align: center;
  border-radius: 0.4em;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.444444em 0.333333em;
  font-size: 0.923077em;
  line-height: 1.333333; }
  .btn:active, .btn--nav:active, .btn--primary:active, .btn--secondary:active, .btn--tertiary:active, .btn--tertiary--tablet:active, .btn--tertiary--tablet:active, .btn--pancake:active {
    outline: 0;
    background-image: none; }
    .btn:active:focus, .btn--primary:active:focus, .btn--secondary:active:focus, .btn--tertiary:active:focus, .btn--tertiary--tablet:active:focus, .btn--tertiary--tablet:active:focus, .btn--pancake:active:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }

.btn--primary {
  font-size: 1.487179em;
  padding: 1.103448em 1.551724em 1.137931em;
  color: #fff;
  background-color: #c5ad85;
  font-weight: 300;
  margin-top: 1.206897em; }
  .btn--primary:hover {
    background-color: #cdb896; }

.btn--secondary {
  font-size: 1.384615em;
  padding: 0.740741em 1.925926em 0.777778em;
  color: #fff;
  background-color: #c5ad85;
  font-weight: 300; }
  .btn--secondary:hover {
    background-color: #cdb896;
    text-decoration: none;
    color: #fff; }

.btn--tertiary, .btn--tertiary--tablet {
  font-size: 1.641026em;
  padding-left: 0.78125em;
  padding-right: 0.625em;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.875;
  color: #fff;
  background-color: #007698;
  font-weight: 300; }
  .btn--tertiary:hover, .btn--tertiary--tablet:hover {
    background-color: #008bb2;
    text-decoration: none;
    color: #fff; }

.del {
 margin-left: 0.4em;
 background-color: #F84040;
}

.del:hover {
    background-color: red;
    text-decoration: none;
    color: white;
}
.deladm {
 margin-left: 0.4em;
 background-color: #882020;
}
.deladm:hover {
    background-color: red;
    text-decoration: none;
    color: gray;
}

.btn--nav {
    display: block;
    text-align: center;
    font-size: 1.25em;
 	line-height: 1.25em;
   -webkit-font-smoothing: antialiased;
 	padding: 0 0.2em 0 0.2em;
	color: #fff;
	background-color: #007698;
	font-weight: 300; }
	.btn--nav:hover {
	background-color: #008bb2;
	text-decoration: none;
	color: #fff;  }
@media (max-width: 67.1875em) {
    .btn--nav {
	line-height: 1.5em;
        font-size: 1em; } }
@media (max-width: 50em) {
  .btn--nav {
	text-align: center;
	padding: 0 0.2em 0 0.2em;
	line-height: 1.5em;
	font-size: 1em;
	}
	.btn--nav.navigation__link {
		margin:0;
	}
}
.btn--nav.navigation__link {
	line-height: 1.5em;
    font-size: 1em;
	margin-right: -1em;
}


.btn--tertiary--tablet {
  font-size: 1em;
  background-color: #c5ad85;
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.6); }

.column--info {
  display: inline-block;
  width: 42%;
  padding-left: 7.352941%;
  position: relative;
  box-sizing: content-box; }
  @media (max-width: 75em) {
    .column--info {
      width: auto;
      max-width: 46%;
  } }
  @media (max-width: 47.5em) {
    .column--info {
      display: block;
      max-width: 100%; } }
.column__title {
  display: table;
  padding-bottom: 0.690476em;
  width: 90%;
  font-size: 1em;
  color: #632b13;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  border: none;
  margin-bottom: 0; }

.shorten {
  padding-bottom: 0.769231em;
  min-height: 33.846154em; }

.bar__col {
  width: 50%;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 61.25em) {
    .bar__col {
      font-size: 18px;
      font-size: 1.8rem;
      display: block;
      width: 100%; } }
  @media (max-width: 37.5em) {
    .bar__col {
      font-size: 16px;
      font-size: 1.6rem; } }
.bar__header {
  display: block;
  width: 100%;
  height: 36.410256em;
  margin: 0 auto;
  position: relative;
  padding-bottom: 0.512821em;
  background-size: 100% 710px;
  background-position: center top;
  box-sizing: content-box;
  background-color: #fff;
  background-repeat: no-repeat; }
.bar__header--wrap {
  max-width: 58.974359em;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 0.512821em;
  box-sizing: content-box;
  overflow: hidden; }
.bar__content {
  max-width: 57.948718em;
  margin: 0 auto; }
.bar__copy {
  padding-right: 3.589744em;
  padding-bottom: 1.538462em;
  padding-top: 2.051282em; }
  @media (max-width: 61.25em) {
    .bar__copy {
      padding-right: 0; } }
.bar__favourites {
  margin-left: -0.512821em;
  margin-right: -1.538462em; }
  .bar__favourites .cocktail__alternative:first-child {
    border-left: 10px solid #fff; }
  @media (max-width: 61.25em) {
    .bar__favourites {
      border-left: none;
      width: 100%;
      text-align: center; } }
  @media (max-width: 41.25em) {
    .bar__favourites {
      border-left: 0; } }
.bar__gmap {
  height: 15.076923em; }
.bar__info--type, .bar__info--detail, .bar__info--telephone {
  text-transform: uppercase;
  font-size: 1.230769em;
  padding-right: 0.625em;
  display: inline-block; }
.bar__info--detail, .bar__info--telephone {
  font-weight: 400;
  padding-right: 0;
  padding-bottom: 0.416667em;
  display: inline-block; }
.bar__info--telephone {
  text-decoration: none;
  color: #333333; }
  .bar__info--telephone:hover {
    color: #333333;
    text-decoration: none; }
.bar__interior {
  margin: 0 auto;
  width: 100%;
  height: 30.769231em;
  position: relative;
  overflow: hidden; }
  .bar__interior p {
    height: 100%; }
  @media (max-width: 37.5em) {
    .bar__interior {
      display: none; } }
.bar__interior-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  cursor: pointer; }
  .bar__interior-cover:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: #000;
    opacity: 0.3;
    z-index: 1; }
.bar__interior-header {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 3.487179em;
  border-bottom: none;
  margin-bottom: 0; }
.bar__interior-content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 2;
  text-align: center; }
.bar__interior-click {
  font-size: 0.820513em;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-top: 1.125em;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5em 2.5em; }
@media (max-width: 61.25em) {
  .bar__times-container {
    display: inline-block;
    width: 50%;
    padding-left: 1.025641em;
    padding-right: 1.025641em; } }
@media (max-width: 47.5em) {
  .bar__times-container {
    padding: 0;
    width: 100%; } }
.bar__times {
  background-color: #e9eaea;
  border: 1px solid black;
  border-radius: 0.4em;
  max-width: 70.358974em;
  width: 100%;
  }
  @media (max-width: 61.25em) {
    .bar__times {
      float: none;
      margin: 1.538462em auto 0;
      max-width: none; } }
  @media (max-width: 47.5em) {
    .bar__times {
      max-width: 24.358974em; } }

.bar__times table {
 border-radius: 0.4em;
 border-collapse: collapse;
 width: 100%;

}

.bar__times thead {
  border: 1px solid black;
}
    .bar__times td {
	  color: rgba(90, 90, 90, 100);
	  background: rgb(196, 199, 195);
	  text-transform: initial;
	  text-align: left;
	  padding:0.2em 0.2em 0.1em 1em;
   	}
     .bar__times th {
	  background: rgb(146, 159, 155);
	  color: rgba(40, 40, 40, 80);
	  text-transform: initial;
	  text-align: left;
	  padding:0.2em 0.2em 0.1em 1em;
   	}
   .bar__times a {
      display:inline-block;
      width:100%;
	  background: rgba(226, 229, 225, 0);
	  color: rgba(90, 90, 90, 80);
   	}

    .bar__times a:hover  {
      text-decoration:none;
	  background: rgb(255, 255, 255);
	  color: rgba(30, 30, 30, 40);
   	}

    .bar__times th {
	  text-align: left;
	  padding-left:1em;
   	}

  .bar__times ul {
    display: table;
    border-collapse: collapse;
    width: 100%; }
    .bar__times ul li {
      display: table-row; }

@media (max-width: 50em) {
 h3 { font-size: 1.20em;}
 .bar__times th,.bar__times td {
 font-size: 0.8em;
} }

.report {
  border: 1px solid black;
  font-size: 0.9em;
  width: 100%;
}
.report table {
	border-collapse: collapse;
	width: 100%;
}
.report thead {
  border: 1px solid black;
}
.report td {
  border: 1px solid black;
  color: rgba(20, 20, 20, 100);
  text-align: left;
  padding:0.2em 0.3em 0.1em 0.3em;
}

.preline {
  text-align: left;
  white-space: pre-line;
  min-width: 20em;
  width:auto;
  max-width: 100%;
}

 .report th {
  background: rgb(146, 159, 155);
  color: rgba(40, 40, 40, 80);
  text-transform: initial;
  text-align: left;
  padding:0.2em 0.2em 0.1em 1em;
  padding-left:1em;
}

.hoz {
  width:100%;
  display: table;
}
.hoz > ul {
  display: table-row;
}
.hoz > ul > li {
  display: table-cell;
  padding: 0.5em,5em,0.5em,0;
  vertical-align: middle;
}

.day {
  display: table-cell;
  padding-left: 1.538462em;
  padding-top: 0.25641em;
  padding-bottom: 0.25641em;
  width: 80%;
  white-space: nowrap; }
  @media (max-width: 61.25em) {
    .day {
      padding: 0 0 0.25641em 0; } }

.details {
  display: table-cell;
  padding: 0.25641em 1.538462em 0.25641em 0.512821em;
  white-space: nowrap; }
  @media (max-width: 61.25em) {
    .details {
      padding: 0; } }

.today {
  background-color: #dddfdf; }

.big-logo {
  width: 13.076923em;
  height: 13.076923em;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 6.153846em;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100; }
  @media (max-width: 50em) {
    .big-logo {
      font-size: 0.820513em;
      width: 210px; } }

.editorial {
  padding-top: 5.00em;
  padding-bottom: 1.0em;
  line-height: 1.74359; }
  @media (max-width: 61.25em) {
    .editorial {
  	  padding-top: 4.50em;
      font-size: 18px;
    } }
  @media (max-width: 55em) {
    .editorial {
  	 padding-top: 4.00em;
     } }
  @media (max-width: 50em) {
    .editorial {
    text-align: center;
     padding-top: 0.2em;
     padding-bottom: 0.2em;
     font-size: 1em;
     } }

.editorial__left, .editorial__right {
  width: 50%;
  vertical-align: top;
  max-width: 26.051282em; }

.editorial__left {
  float: left;
  padding-right: 0.769231em;
  padding-bottom: 3.076923em; }
  @media (max-width: 55em) {
    .editorial__left {
      float: none;
      width: auto;
      max-width: 30.769231em;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0; } }

.editorial__right {
  float: right;
  padding-left: 0.769231em; }
  @media (max-width: 55em) {
    .editorial__right {
      float: none;
      width: auto;
      max-width: 30.769231em;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0; } }

.editorial > h3 {
  font-weight: 600;
}

.uLinks {
  margin: 0 auto;
  text-align: center;
  background-color: #e6e8e8;
  padding-bottom: 4.307692em; }
  @media (max-width: 61.25em) {
    .uLinks {
      font-size: 0.923077em; } }
  @media (max-width: 41.25em) {
    .uLinks {
      font-size: 0.820513em; } }
  .uLinks .path {
    fill: #fff; }
  .uLinks__button {
    display: inline-block;
    text-align: center;
    max-width: 8.923077em;
    vertical-align: top;
    margin-left: 2.564103em;
    margin-right: 2.564103em; }
    @media (max-width: 55em) {
      .uLinks__button {
        margin-right: 1em;
        margin-left: 1em; } }
    @media (max-width: 47.5em) {
      .uLinks__button {
        padding-left: 2%;
        padding-right: 2%; } }
    @media (max-width: 41.25em) {
      .uLinks__button {
        margin-left: 0;
        margin-right: 0; } }
    @media (max-width: 33.75em) {
      .uLinks__button {
        display: block;
        padding-bottom: 1.538462em;
        max-width: none;
        text-align: left; } }
    .uLinks__button:hover {
      text-decoration: none;
      color: #000; }
      .uLinks__button:hover .uLinks__circle, .uLinks__button:hover .uLinks__circle--primary, .uLinks__button:hover .uLinks__circle--secondary, .uLinks__button:hover .uLinks__circle--tertiary {
        -webkit-transition: opacity 0.15s;
        -moz-transition: opacity 0.15s;
        transition: opacity 0.15s;
        opacity: 0.8; }
  .uLinks__circle, .uLinks__circle--primary, .uLinks__circle--secondary, .uLinks__circle--tertiary {
    width: 5.282051em;
    height: 5.282051em;
    border-radius: 100%;
    background-color: #007698;
    margin: 0 auto;
    margin-bottom: 0.512821em;
    box-shadow: 0 -0.051282em 0.051282em #333333;
    text-align: center;
    display: table; }
    @media (max-width: 33.75em) {
      .uLinks__circle {
        text-align: center;
        display: inline-block; } }
    @media (max-width: 29.125em) {
      .uLinks__circle {
        display: block;
        margin: 0 auto; } }
  @media (max-width: 33.75em) {
    .uLinks__circle--primary {
      text-align: center;
      display: inline-block; } }
  @media (max-width: 29.125em) {
    .uLinks__circle--primary {
      display: block;
      margin: 0 auto; } }
  .uLinks__circle--secondary {
    background-color: #8faf42; }
    @media (max-width: 33.75em) {
      .uLinks__circle--secondary {
        text-align: center;
        display: inline-block; } }
    @media (max-width: 29.125em) {
      .uLinks__circle--secondary {
        display: block;
        margin: 0 auto; } }
  .uLinks__circle--tertiary {
    background-color: #c5ad85; }
    @media (max-width: 33.75em) {
      .uLinks__circle--tertiary {
        text-align: center;
        display: inline-block; } }
    @media (max-width: 29.125em) {
      .uLinks__circle--tertiary {
        display: block;
        margin: 0 auto; } }
  .uLinks__icon {
    width: 2.358974em;
    display: table-cell;
    vertical-align: middle;
    height: 5.282051em; }
  .uLinks__title {
    color: #000;
    text-decoration: none;
    line-height: 1.230769;
    text-transform: uppercase; }
    @media (max-width: 33.75em) {
      .uLinks__title {
        display: inline-block;
        padding-left: 1.538462em;
        vertical-align: middle; } }
    @media (max-width: 29.125em) {
      .uLinks__title {
        padding-left: 0;
        text-align: center;
        display: block; } }

.bar__header {
  display: block;
  width: 100%;
  height: 36.410256em;
  margin: 0 auto;
  position: relative;
  padding-bottom: 0.512821em;
  background-size: 100% 710px;
  background-position: center top;
  box-sizing: content-box;
  background-color: #fff;
  background-repeat: no-repeat; }
  @media (max-width: 37.5em) {
    .bar__header {
      height: 27.179487em;
      background-image: none !important; }
      .bar__header:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 27.179487em;
        width: 0.512821em;
        background-color: #fff;
        z-index: 10; } }

.bar__header--wrap {
  max-width: 58.974359em;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 0.512821em;
  box-sizing: content-box;
  overflow: hidden;
  @inclide bp(mobile) {
    overflow: hidden; }
 }
  @media (max-width: 75em) {
    .bar__header--wrap {
      width: 49.230769em; } }
  @media (max-width: 61.25em) {
    .bar__header--wrap {
      width: 29.74359em; } }

.box-light, .box-medium, .box-heavy {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.box-medium {
  font-weight: 300;
  line-height: 0.85; }

.box-heavy {
  font-weight: 600;
  line-height: 0.85; }

.colour-block-1, .colour-block-2, .colour-block-3, .colour-block-4 {
  background-color: #c5ad85;
  width: 9.230769em;
  height: 8.717949em;
  position: absolute;
  left: 0.512821em;
  top: 9.230769em;
  padding-top: 1.794872em;
  padding-left: 0.512821em; }
  .colour-block-1:hover, .colour-block-2:hover, .colour-block-3:hover, .colour-block-4:hover {
    text-decoration: none;
    cursor: pointer; }
  .colour-block-1 .box-light, .colour-block-1 .colour-block-2, .colour-block-1 .colour-block-3, .colour-block-1 .colour-block-4, .colour-block-1 .box-medium, .colour-block-1 .box-heavy {
    font-size: 1.230769em; }
  .colour-block-1 .box-heavy, .colour-block-1 .colour-block-2, .colour-block-1 .colour-block-3, .colour-block-1 .colour-block-4 {
    font-size: 2.25641em; }

.colour-block-2 {
  background-color: #007698;
  left: 49.230769em;
  top: 18.461538em;
  padding-top: 1.794872em; }
  .colour-block-2 .box-light, .colour-block-2 .box-medium, .colour-block-2 .box-heavy {
    font-size: 1.230769em; }
  .colour-block-2 .box-medium {
    font-size: 2.461538em; }
  .colour-block-2 .box-heavy {
    font-size: 1.538462em; }
  @media (max-width: 75em) {
    .colour-block-2 {
      left: 39.487179em;
      top: auto;
      bottom: 0.512821em; } }
  @media (max-width: 61.25em) {
    .colour-block-2 {
      left: 20em;
      top: 18.461538em; } }
  @media (max-width: 37.5em) {
    .colour-block-2 {
      display: none; } }

.colour-block-3 {
  background-color: #007698;
  left: 10.25641em;
  top: 27.692308em;
  padding-top: 2.820513em; }
  .colour-block-3 .box-medium {
    font-size: 1.846154em; }
  .colour-block-3 .box-heavy {
    font-size: 2.564103em; }
  @media (max-width: 61.25em) {
    .colour-block-3 {
      left: 0.512821em;
      top: 18.461538em; } }

.colour-block-4 {
  background-color: #8faf42;
  top: 27.692308em;
  left: 29.74359em;
  padding-top: 5.128205em; }
  .colour-block-4 .box-medium {
    font-size: 1.641026em; }
  .colour-block-4 .box-heavy {
    font-size: 1.74359em; }
  @media (max-width: 61.25em) {
    .colour-block-4 {
      top: auto;
      bottom: 0.512821em;
      left: 20em; } }
  @media (max-width: 37.5em) {
    .colour-block-4 {
      display: none; } }

.square--small-1, .square--small-2 {
  position: absolute;
  width: 9.230769em;
  height: 8.717949em;
  left: 0.512821em; }

.square--small-2 {
  top: 27.692308em;
  left: 0.512821em; }
  @media (max-width: 61.25em) {
    .square--small-2 {
      left: 10.25641em;
      top: 18.461538em; } }
  @media (max-width: 37.5em) {
    .square--small-2 {
      display: none; } }

.square--big-1, .square--big-2 {
  width: 18.974359em;
  height: 17.948718em;
  position: absolute;
  left: 10.25641em; }

.square--big-2 {
  top: 9.230769em;
  left: 29.74359em; }
  @media (max-width: 61.25em) {
    .square--big-2 {
      display: none; } }

.rectangle--wide-1, .rectangle--wide-2, .rectangle--wide-3 {
  width: 18.974359em;
  height: 8.717949em;
  position: absolute;
  left: 29.74359em; }
  @media (max-width: 61.25em) {
    .rectangle--wide-1 {
      display: none; } }
  @media (max-width: 37.5em) {
    .rectangle--wide-1 {
      display: block;
      left: 10.25641em;
      top: 18.461538em; } }

.rectangle--wide-2 {
  left: 0.512821em;
  top: 18.461538em;
  display: table;
  text-align: center;
  position: absolute; }
  .rectangle--wide-2:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 1; }
  @media (max-width: 61.25em) {
    .rectangle--wide-2 {
      left: 0.512821em;
      top: auto;
      bottom: 0.512821em;
      position: absolute; } }
  @media (max-width: 37.5em) {
    .rectangle--wide-2 {
      display: none; } }

.bar-name-holder {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 2; }

.bar-name {
  vertical-align: middle;
  color: #fff;
  font-size: 2.051282em;
  text-transform: uppercase;
  font-weight: 300;
  padding-right: 0.25em;
  padding-bottom: 0.05em; }

.rectangle--wide-3 {
  left: 39.487179em;
  top: 27.692308em; }
  @media (max-width: 75em) {
    .rectangle--wide-3 {
      display: none; } }

.rectangle--tall-1, .rectangle--tall-2 {
  width: 9.230769em;
  height: 17.948718em;
  position: absolute;
  left: 49.230769em;
  top: 0; }
  @media (max-width: 75em) {
    .rectangle--tall-1 {
      display: none; } }

.rectangle--tall-2 {
  left: 20em;
  top: 18.461538em; }
  @media (max-width: 61.25em) {
    .rectangle--tall-2 {
      display: none; } }

.blocks {
  background-color: #fff;
  text-align: center;
  padding-top: 1.538462em;
  padding-left: 1.538462em; }

.block {
  width: 21.897436em;
  height: 16.410256em;
  display: inline-block;
  margin: 0 1.538462em 1.538462em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 87.5em) {
    .block {
      width: 17.948718em;
      height: 12.820513em; } }
  @media (max-width: 75em) {
    .block {
      width: 13.846154em;
      height: 9.230769em; } }
  .block__title {
    color: #fff;
    font-size: 3.076923em;
    padding-top: 2.083333em;
    padding-bottom: 0.666667em;
    font-weight: 300;
    text-shadow: 0 0 10px #000; }
    @media (max-width: 87.5em) {
      .block__title {
        font-size: 2.051282em;
        padding-top: 1.75em; } }
    @media (max-width: 75em) {
      .block__title {
        font-size: 1.538462em;
        padding-top: 1.333333em;
        padding-bottom: 1em; } }
  .block__link {
    border: 1px solid #fff;
    font-size: 0.820513em;
    padding: 0.625em 1.875em 1em;
    color: #fff;
    text-decoration: none;
    cursor: pointer; }
    @media (max-width: 75em) {
      .block__link {
        padding: 0.375em 1.5em 0.75em; } }
    .block__link:hover {
      text-decoration: none; }
    .block .block__link {
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.2); }
      .block .block__link:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff; }
